<div class="row mb-5 bg-light card">
  <a href="/blogs/{{id}}/comment" class="col-sm-12">
    <div class="row pt-2">
      <div class="col-sm-12 pb-3">
        <h2>{{title}}</h2>
        <p>Posted by {{name}} on {{date}}</p>
        <h2 class="bg-white height2 pl-2">{{description}}</h2>
      </div>
      <div>
        
      </div>
    </div>
  </a>
</div>
    {{#each comments as |comment|}}
      {{> comment-details}}
    {{/each}}
